.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(79deg, #7439db, #C66FBC 48%, #F7944D);
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}

label

@media screen and (min-width 600px ){

  

}
