.prod{
    width: 100%;
    height: 50%;
    background-color: aqua;
    position: absolute;
    float: left;
    left: 0px;
    display: flex;
    margin: auto;
}
.image{
    width: 30%;
    height: 90%;
    background-color: red;
    margin: auto;
}
.image img{
    width: 90%;
    height: 90%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    border-radius: 15px;
    
}
.info{
    width: 70%;
    height: 90%;
    background-color: blue;
    margin: auto;
}