.header{
    background-color: whitesmoke;
    color: #000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    align-items: center;
}