.productBox {
    /* border: 1px solid red; */
    display: grid;
    flex-direction: row;
    width: 100%;
    /* background-color: green; */
    margin: 5px;
}
.product{
    margin: 10px;
    height: 400px;
    width: 200px;
    padding: 10px;
    padding-bottom: 20px;
}
.product:hover{
    border: 1px solid rgb(80, 78, 78);
    border-radius: 10px;
    margin: 10px;
    height: 360px;
    width: 200px;
}
.product-name {
    font-size: 18px;
    font-weight: bold;

}
.product-description {
    font-size: 14px;
    padding: 2px;
}
.product-price{
    padding: 0 5px;
    font-weight: bold;
    color: #454545;

}
.product-img {
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}
.cart-btn {
    background-color: rgb(80, 78, 78);
    border: 1px solid rgb(80, 78, 78);
    justify-content: center;
    text-size:
    width: 80px;
    border-radius: 10px;
    padding: 2px;
    color: rgb(242, 229, 229);
}
.cart-btn:hover{
    background-color: whitesmoke;
    border: 1.5px solid rgb(80, 78, 78);
    justify-content: center;
    width: 80px;
    border-radius: 10px;
    padding: 2px;
    color: rgb(80, 78, 78);
}