

.main-login{
    min-height: 100vh;
    min-width: 100vw;
    overflow-x:hidden ;
    background: linear-gradient(to right, rgba(255,255,255) 50% );
    
}

.login-contain{
        height: 75vh;
        width: ;
}
