.navbar{
<<<<<<< HEAD
    background-color: #000;
    color: #fff;
=======
    background-color: #fff;
    color: #000;
>>>>>>> 6d1d6a720d5eb5b414cc7c7b1f881b44ba6ab3ca
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.leftside{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.leftside h4 {
    margin-left: 50px;
    font-weight: 500;
}
.leftside h4:active {
    text-decoration: underline;
    color: #000;
}
.navlink{
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
}
.navlink:hover{
    text-decoration: underline;
    color: rgb(226, 135, 135);
}

.proflink{
    color: black;
    text-decoration: none;
    font-size: 18px;
    margin-right: 50px;
    cursor: pointer;
}

