.navbar{
    background-color: whitesmoke;
    color: #000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.leftside{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.logs{
    display: ;
}

.leftside h4 {
    margin-left: 50px;
    font-weight: 500;
}
.leftside h4:active {
    text-decoration: underline;
    color: #000;
}
.navlink{
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
}
.navlink:hover{
    text-decoration: underline;
    color: rgb(226, 135, 135);
}
.navlink:active { 
    text-decoration: underline;
    color: rgb(168, 99, 99);
    border: 1px solid red;
}

.proflink{
    color: black;
    text-decoration: none;
    font-size: 18px;
    margin-right: 50px;
    cursor: pointer;
}

